<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <title>Chat App</title>
        <meta name="description" content="Tuts+ Chat Application" />
        <link rel="stylesheet" href="style.css" />
        <script type="text/javascript" src="eel.js"></script>
        <script type="text/javascript" src="main.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div id="menu">
                <button id="exit" onclick="quit_room()">Exit Chat</button>
            </div>

            <div id="chatbox"></div>
            <center>
                <input name="usermsg" type="text" id="usermsg" />
                <button onclick="send_msg()">Send</button>
            </center>


        </div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     </body>
</html>